<!DOCTYPE html>
<html lang="en">

<head>
  <title>Satellite Dish</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link type="text/css" rel="stylesheet" href="{{base_url}}/static/css/event.css">
  <link rel="shortcut icon" href="{{base_url}}/static/css/favicon.ico">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 bg-dark text-light" style="padding-right: 0px;">
        <nav class="nav flex-column nav-pills no_scroll" id="sidebar" role="tablist">

          <h2 class="nav-item" style="padding-top: 10%; padding-bottom: 25%;">Satellite Dish</h2>

          <a href="/" id="v-pills-event"
            class="nav-link"
            style="font-size:1.2em">Event</a>
          
        </nav>
      </div>
      <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-page" role="tabpanel">
            <div class="header  m-3 pb-5">
              {% block content %}{% endblock content %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>
